body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, #0b263d, #503b00);
  /* background-color: #0b263d;
  background-image:  url('../images/pattern2.svg');
  background-repeat: repeat;
  background-size: 150px; */
  height: 100%;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.header-container {
  margin-bottom: 3em;
}

#browseImage {
  max-width: 45%;
  height: auto;
}

a {
  color: rgb(253, 207, 54);
}

a:hover {
  color: rgb(202, 155, 0)
}

input[type="file"] {
  display: none;
}
/* .custom-file-upload {
  background-color: #1DA1F2;
  
} */

.btn-upload {
  background-color: #f9bd00;
  color: black
}

.btn-upload:hover {
  background-color: #ffe9a0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}