body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0b263d;
  background-image:  url('../images/pattern2.svg');
  background-repeat: repeat;
  background-size: 150px
}

a {
  color: #00B7FF;
}